<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>你的生活玩伴 | 小集体</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!--Set the descritpion of you site-->
		<meta name="description" content="你的生活玩伴 | 小集体">
		<!--Set author of your site-->
		<meta name="author" content="小集体">
		<!--Modernizr-->
		<script src="./js/modernizr.js" type="text/javascript"></script>
		<!--Main Bootstrap styling-->
		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<!--Custom styling-->
		<link rel="stylesheet" href="./css/style.css">
		<!--Iconic font - FontAwesome-->
		<link rel="stylesheet" href="./css/font-awesome.css">
		<!--Google font-->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quattrocento+Sans">
		<!--Browser tab icon aka Favicon-->
		<link rel="icon" type="image/ico" href="favicon.ico">
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
		<!--[if lt IE 9]>
			<script src="./js/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body data-spy="scroll" data-target=".navbar" data-offset='61'>
		<!--[if gte IE 7]><p>You are using IE 7 or greater.</p><![endif]-->
    <div id="preloader">
			<div id="status">&nbsp;</div>
		</div>
	<!--start navigation-->
		<div class="navbar navbar-fixed-top" role="navigation">
			<div class="container skrollable skrollable-between" data-start="padding: 5px 0px;" data-200="padding: 0px 0px;" style="padding: 5px 0px;">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="http://www.xiaojiti.com/#intro" class="navbar-brand"><img class="img-responsive" src="./images/logo_xiaojiti.gif" alt="xiaojiti logo"></a>
				<div class="nav-collapse collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav pull-right">
						<li class="active"><a href="#intro">首页</a></li>
						<li class=""><a href="#whoweare">关于小集体</a></li>
						<li class=""><a href="#faq">常见问题</a></li>
						<li class=""><a href="#team">神秘组织</a></li>
						<!-- <li><a href="#sns">social network</a></li> -->
						<li class=""><a href="#joinus">加入我们</a></li>
					</ul>
				</div>
			</div>
		</div>
	<!--end navigation-->
	<!--start intro section-->
		<section id="intro">
			<div id="carousel_intro" class="carousel slide fadeing">
				<div class="carousel-inner">
					<div class="active item skrollable skrollable-between" id="slide_1" data-start="background-position: center 0px;" data-1440="background-position: center -250px;" style="height: 756px; background-position: 50% 0px;">
						<h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;" class="skrollable skrollable-between" style="opacity: 1; top: 45%;">发现 &nbsp;&nbsp;更美好的事物</h1>
					</div>
					<div class="inactive item skrollable skrollable-between" id="slide_2" data-start="background-position: center 0px;" data-1440="background-position: center -250px;" style="height: 756px; background-position: 50% 0px;">
						<h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;" class="skrollable skrollable-between" style="opacity: 1; top: 45%;">寻找 &nbsp;&nbsp;下一秒的感动</h1>
					</div>
					<div class="inactive item skrollable skrollable-between" id="slide_3" data-start="background-position: center 0px;" data-1440="background-position: center -250px;" style="height: 756px; background-position: 50% 0px;">
						<h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;" class="skrollable skrollable-between" style="opacity: 1; top: 45%;">我爱 &nbsp;&nbsp;每一天的生活</h1>
					</div>
				</div>
			<button class="left carousel-control skrollable skrollable-between" href="#carousel_intro" data-slide="prev" data-start="opacity: 0.6; left: 0%;" data-250="opacity:0; left: 5%;" style="opacity: 0.6; left: 0%;"><i class="icon-chevron-left"></i></button>
			<button class="right carousel-control skrollable skrollable-between" href="#carousel_intro" data-slide="next" data-start="opacity: 0.6; right: 0%;" data-250="opacity:0; right: 5%;" style="opacity: 0.6; right: 0%;"><i class="icon-chevron-right"></i></button>
			</div>
			<div class="hidden-sm more">
				<a href="#whoweare" class="btn btn-eco squared skrollable skrollable-between" data-start="opacity:1; margin-top: 0%;" data-250="opacity:0; margin-top: -10%;" style="opacity: 1; margin-top: 0%;"><i class="icon-angle-down"></i> 关于小集体</a>
			</div>
		</section>
	<!--end intro section-->
    	<!--start first section-->
		<section id="whoweare" class="content">
			<div class="container">
				<div class="row">
	<!--start features #1 -->
					<div class="col-lg-6">
						<h1 style="font-size: 46px;">你的生活玩伴</h1>
							<h5>我们在寻找生活玩伴。面对生活，我们期望可以多一点乐趣、色彩与活力。
</h5><br>
<p class="lead">
<small>我们都是工业时代批量制造的合格公民，属于这个大时代中的小集体，我们想寻找一些有态度的人事物，分享给小集体中的其他人。但是我们推荐的东西都是小量制造的，所以可能无法每个想买的人都买的到。</small></p>
					</div>
					<div class="col-lg-6 icons">
						<div class="row">
							<div class="col-lg-2 col-sm-2">
								<i class="icon-gift" data-bottom-center="font-size: 0px;" data-center-top="font-size: 52px;" style="color:#5fa13d;"></i>
							</div>
							<div class="col-lg-10 col-sm-10">
								<!--<a href="#" class="btn btn-more btn-mini">More</a>-->
								<h3>为了快乐而生</h3>
								<h5>The Pursuit of Happyness</h5>
								<p class="lead"><small>时间有限，但是想做的事情很多，给自己几分钟，体验属于小集体的快乐。</small></p>
							</div>
							<div class="col-lg-2 col-sm-2">
								<i class="icon-male" data-bottom-center="font-size: 0px;" data-center-top="font-size: 52px;" style="color:#5fa13d;"></i>
							</div>
							<div class="col-lg-10 col-sm-10">
								<!--<a href="#" class="btn btn-more btn-mini">More</a>-->
								<h3>为了品味而活</h3>
								<h5>Find a Balance Life</h5>
								<p class="lead"><small>在上班、家庭与个人生活中，我们习惯忙碌。小集体是生活的休息站，让心灵到另外一个想像世界中短暂旅行。</small></p>
							</div>
						</div>
					</div>
				</div>
				<!--div class="content-divider"></div -->
			</div>
		</section>
	<!--end first section-->
	
	<!--start services section-->
	
	  <section id="faq">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>我的心里有疑问</h1>
					</div>
					<div class="col-lg-3 col-sm-6 margin">
						<i class="icon-thumbs-up yellow" data-bottom-center="opacity: 0;" data-bottom-bottom="opacity: 1;"></i>
						<h3>有什么好处</h3>
						<p>我们会找一些生活中新奇好玩的东西，定时推送给小集体的同学们，如果你有兴趣，欢迎加入。每周一粒，增强抵抗力。</p>
						
					</div>
					<div class="col-lg-3 col-sm-6 margin">
						<i class="icon-heart red" data-bottom-center="opacity: 0;" data--60-bottom-bottom="opacity: 1;"></i>
						<h3>有什么风险</h3>
						<p>最大的风险就是你可能会爱上我们，包含我们对待生活的态度，热情和想法。爱上一个人，一件事，或一种感觉，是很美好的。</p>
						
					</div>
					<div class="col-lg-3 col-sm-6 margin">
						<i class="icon-shopping-cart green" data-bottom-center="opacity: 0;" data--120-bottom-bottom="opacity: 1;"></i>
						<h3>我想要购买</h3>
						<p>会引导各位同学透过淘宝平台购买，这些东西，多数是好玩不好找的，数量不多，还请见谅。</p>
						
					</div>
					<div class="col-lg-3 col-sm-6 margin">
						<i class="icon-retweet blue" data-bottom-center="opacity: 0;" data--180-bottom-bottom="opacity: 1;"></i>
						<h3>我想要退出</h3>
						<p>这是一种生活态度，若是有一天你的心想要远行，你可以取消关注。我们还在，不会消失。</p>
					</div>
				</div>
			</div>
		</section>
	<!--end services section-->
	<!--	<div class="rainbow"></div> -->		
	<!--start careers section-->
		<section id="team" class="content team">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-offset-2">
						<h1 class="text-center">神秘组织</h1>
						<p class="text-center">我们必须承认，你绝对不是第一个问这个问题的人。<br><br>
我们有点神秘，又没那么神秘。我们只会短时间出现一下，之后就会自动消失。<br><br> 
别担心，大家还是可以透过邮件找到我们的。 <br><br>
目前成员有:
</p>
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-3 col-sm-6 text-center">
								<img src="images/specialist.png" class="img-responsive img-circle red" data-bottom-top="opacity:0;" data--25-bottom="opacity:1;" alt="大头">
								<h3>大头</h3>
								<p>小集体核心成员。主要负责盖房子。如果同学们看到房子歪了，一定是大头前一天工作太晚，请见谅。</p>
							</div>
							<div class="col-lg-3 col-sm-6 text-center">
								<img src="images/engineer.png" class="img-responsive img-circle blue" data-bottom-top="opacity:0;" data--25-bottom="opacity:1;" alt="外国人">
								<h3>外国人</h3>
								<p>小集体核心成员。主要负责逛街跟闲晃。如果大家看到奇怪的推荐商品，一定是外国人近期被雷到了。</p>
							</div>
							<div class="col-lg-3 col-sm-6 text-center">
								<img src="images/uxdesigner.png" class="img-responsive img-circle yellow" data-bottom-top="opacity:0;" data--50-bottom="opacity:1;" alt="舍监">
								<h3>舍监</h3>
								<p>小集体核心成员。主要负责点名，确认所有同学们一切安好，有紧急状况发生时，会变成超级英雄支援前线。</p>
							</div>
							<div class="col-lg-3 col-sm-6 text-center">
								<a href="#joinus">
									<img src="images/manager.png" class="img-responsive img-circle green" data-bottom-top="opacity:0;" data--75-bottom="opacity:1;" alt="新同学">
								</a>
								<a href="#joinus">
								  <h3>新同学</h3>
								  <p>可能是你，你，你，还有我们不知道的你。如果有兴趣就可以加入，男女老幼不拘，唯一是不能有购物狂症状。</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- <div class="divider"></div> -->
			</div>
		</section>
	<!--end third section-->
	
	
	<!--start contact section-->
		<section id="joinus" class="content team">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-offset-2">
						<h1 class="text-center"><br>加入我们</h1>
						<p class="text-center">请留下你的代号、邮箱跟留言，即可完成入团。</p>
            <p id="emailerror" class="" style="color: red;"></p>
            <p id="emailsuccess" class="" style="color: green;"></p>
                               
					</div>
					<div class="col-lg-12">
						<div class="row">
								<div class="form-group col-lg-3 col-sm-6 text-left">
									<label>代号</label><br>
									<small style="color: #bbbdc0">小集体内的称呼方式，简单且唯一。</small>
									<input type="text" name="name" value="" id="name" placeholder="小集体" class="form-control">
								</div>
								<div class="form-group col-lg-3 col-sm-6 text-left">
									<label>邮箱</label><br>
									<small style="color: #bbbdc0">千万要清楚，不然就失联了。</small>
									<input type="text" name="email" value="" placeholder="email@yourdomain.com" id="email" class="form-control">
								</div>
								<div class="form-group col-lg-3 col-sm-6 text-left">
									<label>留言</label><br>
									<small style="color: #bbbdc0">有想说的，就画个爱心写个到此一游</small>
									<input type="text" name="liuyan" placeholder="" id="liuyan" class="form-control">
								</div>
								<div class="form-group col-lg-3 col-sm-6 text-left">
									<label>周四通知</label><br>
									<small>周五开动  10:00~16:00</small>
									<div class="message">
										<div class="alert"></div>
									</div>
									<button type="submit" value="Send" id="submit" class="btn btn-eco btn-block">入团</button>
								</div>
						</div>
					</div>
				</div>
				<!-- <div class="divider"></div> -->
      </div>
    </section>
	<!--end contact section-->
	<!--start footer section-->
		<section id="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-sm-6 margin copy">
						<p>2014 &#169; xiaojiti.com</p>
					</div>
					<div class="col-lg-4 col-sm-6 col-offset-2 margin social">
					</div>
				</div>
			</div>
		</section>
	<!--end footer section-->
	<!--start back to top button-->
		<a href="#intro" class="hidden-sm go-top skrollable skrollable-between" data-0="opacity: 0;" data-1000="opacity: 1;" style="opacity: 0;">回到顶部</a>
	<!--end back to top button-->
	<!--start scripts - IMPORTANT: all scripts MUST be loaded after jquery-latest.js as now-->
	<!--latest jQuery-->
		<script src="./js/jquery-1.10.2.min.js"></script>
	<!--main bootstrap js-->
		<script src="./js/bootstrap.min.js"></script>
	<!--enable responsive features in IE8-->
	<!--[if lte IE 8]>
		<script src="./js/respond.min.js"></script>
	<![endif]-->
	<!--retina support-->
		<script src="./js/retina.js" type="text/javascript"></script>
	<!--smooth scroll on page-->
		<script src="./js/jquery.easing.js" type="text/javascript"></script>
	<!--responsive embed videos-->
		<script src="./js/jquery.fitvids.min.js" type="text/javascript"></script>
	<!--custom scrollbar-->
		<script src="./js/jquery.nicescroll.min.js" type="text/javascript"></script>
	<!--carousel swipe-->
		<script src="./js/jquery.touchwipe.min.js"></script>
	<!--animated elements-->
		<script src="./js/skrollr.js"></script>
		<!--[if lt IE 9]>
			<script type="text/javascript" src="./js/skrollr.ie.min.js"></script>
		<![endif]-->
	<!--tour-->
        <script src="./js/guideline.main.js"></script>
        <script src="./js/guideline.steps.js"></script>
	<!--work / blog-->
		<script src="./js/toucheffects.js"></script>
		<script src="./js/modals.js"></script>
	<!--contact form>
		<script src="./js/jquery.form.js"></script>
	<!--menu close on select-->
		<script>
			if ($('.navbar-toggle:visible').length) {
				$('.navbar a').click(function () { $(".nav-collapse").collapse("hide") });
			}
		</script>

	<!--custom script-->
		<script src="./js/custom.js"></script>
		  <!--form actions -->
  		<script type="text/javascript">
			$(document).ready(function(){
                                $('#email').focus();
				$('#submit').click(function(){
					var name = $('#name').val();
					var email = $('#email').val();
					var liuyan = $('#liuyan').val();
					if (email.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/) == -1)
					{
						//alert("输入的邮箱不正确！请重新输入。");
						$('#emailsuccess').html("");
            $('#emailerror').html("亲地址有错，请检查后输入!");
						return;
					}
		    			var strurl = "http://admin.xiaojiti.com/member";
					//alert(strurl);
					$.ajax({
						type: 'POST',
					    	url: strurl,
					    	data: {"list_id":1,"name":name,"email":email,"text":liuyan,"campaign":322 },
					    	contentType: 'multipart/form-data',
					    	datatype: 'json',
					    	success:function(data)
					    	{
					    		//alert(data);
					    	},
					    	error:function(xhr,r,e)
					    	{
					    		//alert(e)
					    	}
					});
					//$('#name').val("");
					//$('#email').val("");
					//$('#liuyan').val("");
					var els = $(":input");
	         			els.each(function(i){
	         				var textname = $(this).attr("id");
	         				if(textname != undefined)
	         				{
	         					$(this).val("");
	         				}
	         				//alert(textname);
	         				//if (textname == undefined) textname = "";
	         				//alert(textname);
	         				//alert(textname == undefined);
	         				//var index = textname.indexOf("tEdit");
	         				//if (index == NaN) index = -1;
	         				//alert(index);
	         				//if (index > -1)
	         				//{
	         				//	alert(this);
	         				//	$(this).val("");
	         				//}
	         		  	}); 
					$('#emailerror').html("");
					$('#emailsuccess').html("已发送激活信到您的邮箱，请开信点击链接激活，感谢您的关注。");
                                        setTimeout("$('#emailsuccess').html('');",5000)
				})
			})
		</script>
  <!--end scripts-->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49929545-1', 'xiaojiti.com');
  ga('send', 'pageview');

  </script>
  
	</body>
</html>
