!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 我喝茶 | 在路上
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    / Set the descritpion of you site
    %meta{:content => "我喝茶", :name => "description"}
    / Set author of your site
    %meta{:content => "我喝茶", :name => "author"}
    %link{:href => "./images/favicon.ico", :rel => "shortcut icon"}
    / Modernizr  background-color:#fbfaee;
    :css
      body{ text-align:center; background-color:#ffffff;}
      .div{ margin:0 auto; width:1024px; height:400px;}
      /* css注释：为了观察效果设置宽度 边框 高度等样式 */
  %body
    / start navigation
    %div{:style => "width: 100%;"}
      %div{:style => "margin-top: 60px;width:100%;"}
        %a{:href => "/home"}
          %div{:style => "width:100%;height:525px;background-image: url('./images/wohecha_01.png');background-position:center;background-repeat:no-repeat;background-attachment:fixed;"}
    / end navigation
